<%-include('../layouts/adminHeader')%>

<section class="content-main">
    <section class="content-main py-4 d-flex justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <h2 class="text-center">Add New Coupon</h2>
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin/addCoupons" onsubmit="return ValidateForm(event)" method="post" id="couponForm">
                                <div class="form-group my-3">
                                    <label for="name">Coupon name</label>
                                    <input type="text" class="form-control" id="name" name="couponName" placeholder="Type here" />
                                    <div id="nameError" class="text-danger error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="code">Coupon code </label>
                                    <input class="form-control" id="code" name="couponCode" />
                                    <!-- <button type="button" id="generateButton" class="btn btn-warning  my-3">generate</button> -->
                                    <div id="codeError" class="text-danger error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="discount">Discount Amount</label>
                                    <input type="number" class="form-control" id="discount" name="discount" placeholder="Type here" />
                                    <div id="discountError" class="text-danger error-message"></div>
                                </div>
                                <div class="form-group my-3">
                                    <label for="activationdate">Activation Date</label>
                                    <input type="date" class="form-control" id="activationdate" name="activationDate" />
                                    <div id="activationdateError" class="text-danger error-message"></div>
                                </div>
                                <div class="form-group my-3">
                                    <label for="expirydate">Expire Date</label>
                                    <input type="date" class="form-control" id="expirydate" name="expiryDate" onclick="this.type='date'" />
                                    <div id="expirydateError" class="text-danger error-message"></div>
                                </div>
                                <div class="form-group my-3">
                                    <label for="criteriamount">Criteria Amount</label>
                                    <input type="number" class="form-control" id="criteriAmount" name="criteriaAmount" placeholder="Type here" />
                                    <div id="criteriamountError" class="text-danger error-message"></div>
                                </div>
                                <div class="container d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/user/assets/js/addCoupon.js"></script>

    <%-include('../layouts/adminFooter')%>
</section>
