<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Homiqo-admin</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="user/assets/images/favicon.png" />
        <!-- Template CSS -->
        <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <main>
            <section class="content-main mt-80 mb-80">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sign in</h4>
                        <form  action="">
                            <div class="mb-3">
                                <input id="email" class="form-control" placeholder=" email" type="text" />
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <input id="password" class="form-control" placeholder="Password" type="password" />
                            </div>
                            <!-- form-group// -->
                            <!-- form-group form-check .// -->
                            <div class="single-form">
                                <p style="color: red;" id="error-message"></p>
                            </div>
                            <div class="mb-4">
                                <button type="button" onclick="login()" class="btn btn-primary w-100">Login</button>
                            </div>
                            <!-- form-group// -->
                        </form>
                    </div>
                </div>
            </section>
            <footer class="main-footer text-center">
                <p class="font-xs">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template .
                </p>
                <p class="font-xs mb-30">All rights reserved</p>
            </footer>
        </main>
        <script>
            function login(){
                const email=document.getElementById('email').value;
                const password=document.getElementById('password').value;
                const errorMessageElement=document.getElementById('error-message');


                fetch('/admin/login',{
                    method:'POST',
                    headers:{
                        "content-type": "application/json;charset=utf-8"
                    },
                    body:JSON.stringify({
                        email,
                        password
                    })
                    })
                    .then(res =>res.json())
                    .then(data =>{
                        if(data.admin){
                            // console.log(data.message);
                            window.location.href='/admin/home'
                        }else{
                            errorMessageElement.innerHTML=data.message;
                        }
                    })
                    .catch(error =>{
                        console.log(error);
                    })

                
            }
            

        </script>



        <script src="admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
