<%-include('../layouts/header.ejs')%>

    <!-- History Section Start -->
    <div class="section section-padding-02 mt-5">
        <div class="container mt-5 ">
            <!-- History content End -->
            <div class="history-content text-center">
                <div class="section-title-03">
                    <h6 class="sub-title">Our History</h6>
                    <h2 class="title">Furbar Furniture Shop</h2>
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectet adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nullaotho pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis iste natusxcl error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dictapteo sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem drt sequi nesciunt. Neque porro
                    quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam
                    quaerat voluptatem.
                </p>
            </div>
            <!-- History content End -->

            <!-- History Icon End -->
            <div class="history-icon text-center">
                <img src="user/assets/images/icon/icon-5.jpg" alt="Icon" />
            </div>
            <!-- History Icon End -->
        </div>
    </div>
    <!-- History Section End -->

    <!-- Images Gallery Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Image Gallery Start -->
                    <div class="image-gallery">
                        <img src="user/assets/images/images-gallery/image-1.jpg" width="770" height="290" alt="gallery" />
                    </div>
                    <!-- Image Gallery End -->
                </div>
                <div class="col-lg-4">
                    <!-- Image Gallery Start -->
                    <div class="image-gallery">
                        <img src="user/assets/images/images-gallery/image-2.jpg" width="370" height="290" alt="gallery" />
                    </div>
                    <!-- Image Gallery End -->
                </div>
                <div class="col-lg-6">
                    <!-- Image Gallery Start -->
                    <div class="image-gallery">
                        <img src="user/assets/images/images-gallery/image-3.jpg" height="570" height="290" alt="gallery" />
                    </div>
                    <!-- Image Gallery End -->
                </div>
                <div class="col-lg-6">
                    <!-- Image Gallery Start -->
                    <div class="image-gallery">
                        <img src="user/assets/images/images-gallery/image-4.jpg" width="570" height="290" alt="gallery" />
                    </div>
                    <!-- Image Gallery End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Images Gallery Section End -->

    <!-- Counter Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- Single Counter Start -->
                    <div class="single-counter">
                        <span class="count"
                                ><span
                                    class="odometer"
                                    data-count-to="21"
                                ></span><sub>+</sub></span>
                        <p>Years of Exprience</p>
                    </div>
                    <!-- Single Counter End -->
                </div>
                <div class="col-lg-3 col-6">
                    <!-- Single Counter Start -->
                    <div class="single-counter">
                        <span class="count"
                                ><span
                                    class="odometer"
                                    data-count-to="30"
                                ></span><sub>K</sub></span>
                        <p>Happy Customers</p>
                    </div>
                    <!-- Single Counter End -->
                </div>
                <div class="col-lg-3 col-6">
                    <!-- Single Counter Start -->
                    <div class="single-counter">
                        <span class="count"
                                ><span
                                    class="odometer"
                                    data-count-to="15"
                                ></span><sub>+</sub></span>
                        <p>Award Winner</p>
                    </div>
                    <!-- Single Counter End -->
                </div>
                <div class="col-lg-3 col-6">
                    <!-- Single Counter Start -->
                    <div class="single-counter">
                        <span class="count"
                                ><span
                                    class="odometer"
                                    data-count-to="100"
                                ></span><sub>%</sub></span>
                        <p>Products Guranteed</p>
                    </div>
                    <!-- Single Counter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Section End -->

    <!-- Testimonial Section Start -->
    <div class="section section-padding bg-color-02">
        <div class="container">
            <!-- Testimonial Wrapper Start -->
            <div class="testimonial-wrapper testimonial-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- single Testimonial Start -->
                        <div class="single-testimonial swiper-slide">
                            <img class="quote" src="user/assets/images/icon/quote.png" alt="Icon" />
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore dolorelo magna aliqua.
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit
                            </p>
                            <img class="author-thumb" src="user/assets/images/author-1.jpg" width="100" height="100" alt="Author" />
                            <h6 class="name">Taelynn Thorpe</h6>
                            <span class="designation">Customer</span>
                        </div>
                        <!-- single Testimonial End -->

                        <!-- single Testimonial Start -->
                        <div class="single-testimonial swiper-slide">
                            <img class="quote" src="user/assets/images/icon/quote.png" alt="Icon" />
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore dolorelo magna aliqua.
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit
                            </p>
                            <img class="author-thumb" src="user/assets/images/author-1.jpg" width="100" height="100" alt="Author" />
                            <h6 class="name">Taelynn Thorpe</h6>
                            <span class="designation">Customer</span>
                        </div>
                        <!-- single Testimonial End -->

                        <!-- single Testimonial Start -->
                        <div class="single-testimonial swiper-slide">
                            <img class="quote" src="user/assets/images/icon/quote.png" alt="Icon" />
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore dolorelo magna aliqua.
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit
                            </p>
                            <img class="author-thumb" src="user/assets/images/author-1.jpg" width="100" height="100" alt="Author" />
                            <h6 class="name">Taelynn Thorpe</h6>
                            <span class="designation">Customer</span>
                        </div>
                        <!-- single Testimonial End -->
                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- Testimonial Wrapper End -->
        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Team Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title-03 text-center">
                <h6 class="sub-title">Our Team</h6>
                <h2 class="title">Meet Our Team</h2>
            </div>
            <!-- Section Title End -->

            <div class="team-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Team Satrt -->
                        <div class="single-team">
                            <div class="team-images">
                                <img src="user/assets/images/team/team-1.jpg" width="370" height="406" alt="Team" />
                            </div>
                            <div class="team-content">
                                <h5 class="name">Makiyah Yeager</h5>
                                <span class="designation">Customer</span>
                            </div>
                        </div>
                        <!-- Single Team End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Team Satrt -->
                        <div class="single-team">
                            <div class="team-images">
                                <img src="user/assets/images/team/team-2.jpg" width="370" height="406" alt="Team" />
                            </div>
                            <div class="team-content">
                                <h5 class="name">Taelynn Thorpe</h5>
                                <span class="designation">Customer</span>
                            </div>
                        </div>
                        <!-- Single Team End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Team Satrt -->
                        <div class="single-team">
                            <div class="team-images">
                                <img src="user/assets/images/team/team-3.jpg" width="370" height="406" alt="Team" />
                            </div>
                            <div class="team-content">
                                <h5 class="name">Sara Koivisto</h5>
                                <span class="designation">Customer</span>
                            </div>
                        </div>
                        <!-- Single Team End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->

    <!-- Brand Logo Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="brand-row">
                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="user/assets/images/brand/brand-1.png" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="user/assets/images/brand/brand-2.png" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="user/assets/images/brand/brand-3.png" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="user/assets/images/brand/brand-4.png" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="user/assets/images/brand/brand-5.png" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>
            </div>
        </div>
    </div>

    <!-- Brand Logo Section End -->
    <style>
        body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  border-width: 1px 1px 0;
  background-color: #f7f7f7;
}

.content {
  margin: 20px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  outline: 1px solid #494a4f;
  border-radius: 1px;
  border: none;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
    </style>

    <article class="content">
        <table>
          <thead>
            <tr>
              <th>Grade 1</th>
              <th>Grade 2</th>
              <th>Grade 3</th>
              <th>Grade 4</th>
              <th>Grade 5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Faith Andrew</td>
              <td>Angela Christopher</td>
              <td>David Elias</td>
              <td>Samuel Thomas</td>
              <td>Richard Elias</td>
            </tr>
            <tr>
              <td>Mirabel Anthony</td>
              <td> Stella Kai</td>
              <td>Mercy Logan</td>
              <td>Joshua Cooper</td>
              <td>Tosin Ade</td>
            </tr>
            <tr>
              <td>Lola Aiden</td>
              <td>John David</td>
              <td>Nathan Luca</td>
              <td>Precious Ezra</td>
              <td>Favour Prime</td>
            </tr>
            <tr>
              <td>Emmanuel Adrian</td>
              <td>Deborah Aaron</td>
              <td>Esther Camaeron</td>
              <td>Lara Logan</td>
              <td>Duff Christian</td>
            </tr>
            <tr>
              <td>Claire Davis</td>
              <td>Femi Grey</td>
              <td>Micah Obi</td>
              <td>Bassey Colton</td>
              <td>Chelsea Ryan</td>
            </tr>
            <tr>
              <td>Abdul Ahmed</td>
              <td>Clement White</td>
              <td>Margot Hassan</td>
              <td>Mickey Bassey</td>
              <td>Victor Stephen</td>
            </tr>
            <tr>
              <td>Emily Luke</td>
              <td>Ralph David</td>
              <td>James William</td>
              <td>Emma Henry</td>
              <td>Eddie Oliver</td>
            </tr>
            <tr>
              <td>Micheal Andrew</td>
              <td>Venita Blue</td>
              <td>Oyin Ade</td>
              <td>Jack Oliver</td>
              <td>Amara David</td>
            </tr>
            <tr>
              <td>Ava Theo</td>
              <td>Sophia Robert</td>
              <td>Excel James </td>
              <td>Daniel Andrew</td>
              <td>Lorelai Donald</td>
            </tr>
            <tr>
              <td>Joshua Kenneth</td>
              <td>Brian Ade</td>
              <td>Nana Kevin</td>
              <td>Ronald Stephneson</td>
              <td>Martin Sophia</td>
            </tr>
            <tr>
              <td>Wiiliam Ava</td>
              <td>Nduka Janeth</td>
              <td>Evelyn Micheal</td>
              <td>Chloe Henry</td>
              <td>Jack Ava</td>
            </tr>
            <tr>
              <td>Asher Levi</td>
              <td>Owen Samuel</td>
              <td>Gabriella Liam</td>
              <td>Iris James </td>
              <td>Bella Ahmed</td>
            </tr>
            <tr>
              <td>Katie Jones</td>
              <td>Billy Frankel</td>
              <td>Bella Holmes</td>
              <td>Freddie Nowra</td>
              <td>Lucinda Henry</td>
            </tr>
            <tr>
              <td>Richard Nolle</td>
              <td>Sam Philby</td>
              <td>Anika Belou</td>
              <td>Lea Williams</td>
              <td>Noel Jackson</td>
            </tr>
            <tr>
              <td>Iloo Navagendra</td>
              <td>David Templeton</td>
              <td>Nathan Brown</td>
              <td>Lulu Manson</td>
              <td>Beverley Johnson</td>
            </tr>
          </tbody>
        </table>
      </article>


<%-include('../layouts/footer.ejs')%>




<script>
    document.addEventListener('DOMContentLoaded', function () {
  const content = document.querySelector('.content'); 
  const itemsPerPage = 5;
  let currentPage = 0;
  const items = Array.from(content.getElementsByTagName('tr')).slice(1);
  console.log('items:',items)

function showPage(page) {
  const startIndex = page * itemsPerPage;
  const endIndex = startIndex + itemsPerPage;
  items.forEach((item, index) => {
    item.classList.toggle('hidden', index < startIndex || index >= endIndex);
  });
  updateActiveButtonStates();
}

function createPageButtons() {
  const totalPages = Math.ceil(items.length / itemsPerPage);
  const paginationContainer = document.createElement('div');
  const paginationDiv = document.body.appendChild(paginationContainer);
  paginationContainer.classList.add('pagination');

  // Add page buttons
  for (let i = 0; i < totalPages; i++) {
    const pageButton = document.createElement('button');
    pageButton.textContent = i + 1;
    pageButton.addEventListener('click', () => {
      currentPage = i;
      showPage(currentPage);
      updateActiveButtonStates();
    });

      content.appendChild(paginationContainer);
      paginationDiv.appendChild(pageButton);
    }
}

function updateActiveButtonStates() {
  const pageButtons = document.querySelectorAll('.pagination button');
  pageButtons.forEach((button, index) => {
    if (index === currentPage) {
      button.classList.add('active');
    } else {
      button.classList.remove('active');
    }
  });
}

  createPageButtons(); // Call this function to create the page buttons initially
  showPage(currentPage);
});
</script>