<!-- error 500 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 500 - Internal Server Error</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom styles */
    body {
      background-color: #f8f9fa;
    }
    .error-container {
      margin-top: 50px;
      text-align: center;
    }
    .error-code {
      font-size: 100px;
      font-weight: bold;
      color: #dc3545;
    }
    .error-message {
      font-size: 24px;
      color: #343a40;
    }
  </style>
</head>
<body>

<div class="container error-container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-code">500</div>
      <div class="error-message">Internal Server Error</div>
      <p>We're sorry, but something went wrong on our end. Please try again later.</p>
    </div>
  </div>
</div>

<!-- Bootstrap JS (optional, for certain components) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<!-- 
function search(val){

  const cards = document.getElementById('cards')
  const result = document.getElementById('result')

  //sending the value to back

  fetch('/searchProduct',{

      method:'put',

      headers:{'Content-Type':'application/json'},

  body:JSON.stringify({items:val.value})})
  
  //after the result

  .then(res => res.json())

  .then(data =>{

      if(data.length==0){

          result.innerHTML='Could not find that product'
          result.classList.add('text-danger')
          result.classList.add('justify-content-center')

      }else{

    result.classList.remove('justify-content-center')

         result.innerHTML= ${data.map((product,i) => (
              
          <div id="cards"class="col-6 col-md-4 col-lg-4">
              
          <div class="product product-7 text-center">
              
          <figure class="product-media">

              <a href='/productDetails?id=${product._id}'>
                  <img src="/productImage/${product.images[0]}" alt="Product image" class="product-image">
              </a>

              <div class="product-action-vertical">
                  <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
              </div><!-- End .product-action-vertical -->

              <input hidden value="${product.stock}" id="stock">

              <div class="product-action">
                  <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
              </div><!-- End .product-action -->

          </figure><!-- End .product-media -->

          <div class="product-body">

              <div class="product-cat">
                  <a href="#">${product.name}</a>
              </div><!-- End .product-cat -->

              <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->

              <div class="product-price">
                  $${product.price}.00
              </div><!-- End .product-price -->

              <div class="ratings-container">

                  <div class="ratings">
                      <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                  </div><!-- End .ratings -->

              </div><!-- End .rating-container -->

          </div><!-- End .product-body -->

      </div><!-- End .product -->

  </div>

      )).join('')}

  }

});

}; -->