<%-include('../layouts/header.ejs')%>

    <!-- Login Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 mt-5">
                    <!-- Login & Register Start -->
                    <div class="login-register-wrapper mt-5">
                        <h4 class="title">Login to Your Account</h4>
                        <form action="" >
                            <div class="single-form">
                                <input id="email" type="text" placeholder="email "/>
                            </div>
                            <div class="single-form">
                                <input id="password" type="password" placeholder="Password" />
                            </div>
                            <div class="single-form">
                                <p style="color: red;" id="error-message"></p>
                            </div>
                            <div class="single-form">
                                <button class="btn btn-primary btn-hover-dark" type="button" onclick="login()">
                                    Login
                                </button>
                            </div>
                        </form>
                        <p>
                            No account?
                            <a href="/register">Create one here.</a>
                        </p>
                    </div>
                    <!-- Login & Register End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section End -->


<script>

function login(){
    const errorMessageElement=document.getElementById('error-message');

    const email=document.getElementById('email').value;
    const password=document.getElementById('password').value;

    fetch('/login',{
        method:'POST',
        headers:{
            "content-type": "application/json;charset=utf-8"
        },
        body:JSON.stringify({
            email,
            password
        })
    })
    .then(res =>res.json())
    .then(data =>{
        if(data.user){
            // console.log(data.message);
            window.location.href='/'
        }else{
            errorMessageElement.innerHTML=data.message;
        }
    })
    .catch(error =>{
        console.log(error);
    })


    setTimeout(() => {
        errorMessageElement.innerHTML='';
    },7000);
}
    
</script>

<%-include('../layouts/footer.ejs')%>
