<%-include('../layouts/header.ejs')%>
 
 
 <!-- Login Section Start -->
 <div class="section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5">
                <!-- Login & Register Start -->
                <div class="login-register-wrapper mt-5">
                    <h4 class="title">set your new password</h4>
                    <form method="post" action="" >
                        <div class="single-form">
                            <input name="email" type="text" placeholder="email " required/>
                        </div>
                        <div class="single-form d-flex justify-content-center">
                            <a href="/login" class="btn btn-primary btn-hover-dark m-2 "> back</a>
                            <button id="submitButton" class="btn btn-primary btn-hover-dark m-2" type="submit">
                                send otp
                            </button>
                        </div>
                    </form>

                    <%if (typeof message!=='undefined'){%>
                        <span style="color: red;" id="emailError"><%=message%></span>
                    <%}%>
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Login Section End -->