<%-include('../layouts/header.ejs')%>
 
 
 <!-- Login Section Start -->
 <div class="section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5">
                <!-- Login & Register Start -->
                <div class="login-register-wrapper mt-5">
                    <h4 class="title">set your new password</h4>
                    <form method="post" action="/newPassword" onsubmit="return validateNewPassword(event)">
                        <div class="single-form">
                            <input id="password" name="password" type="password" placeholder="new password "/>
                            <span id="passwordError" class="text-danger "></span>

                        </div>
                        <div class="single-form">
                            <input id="confirm-password" type="password" placeholder="confirm password" />
                            <span id="confirmPasswordError" class="text-danger "></span>
                        </div>
                        <input type="text" name="userId" value="<%=userId%>" id="" hidden>
                        <div class="single-form d-flex justify-content-center">
                            
                            <button id="submitButton" class="btn btn-primary btn-hover-dark m-2" type="submit">
                                update
                            </button>
                        </div>
                    </form>

                    <%if (typeof message!=='undefined'){%>
                        <span style="color: red;" id="emailError"><%=message%></span>
                    <%}%>
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Login Section End -->

<script src="/user/assets/js/newPasswordValidate.js"></script>
