


    <div class="container">
      <div class="card custom-card">
        <div class="card-body">
          <h1>Order Successfull</h1> 
          <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
          <a href="/shop"><button class="btn btn-primary btn-hover-dark">Explore more products</button></a><br>
          <a href="/detailorder">view order details</a>
        </div>
      </div>
      <canvas id="canvas">Canvas is not supported in your browser.</canvas>
    </div>
  