<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homiqo</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
            body {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                background-color: #f2f2f2;
                margin: 0;
                padding: 0;
            }

            .container {
                max-width: 400px;
                margin: 50px auto;
                background-color: #fff;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .otp-input-container {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }

            .otp-input {
                width: 50px;
                height: 50px;
                font-size: 24px;
                text-align: center;
                margin: 0 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .otp-input:focus {
                outline: none;
                border-color: #007bff;
            }

            button {
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #ffc107;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }

            button:hover {
                background-color: #ffd350;
            }

            #otp-error {
                color: red;
                font-size: 16px;
                margin-top: 10px;
                text-align: center;
            }
            .verify-button {
                display: flex;
                justify-content: center;
            }
            .timer-resend {
                margin-top: 20px;
                display: flex;
                justify-content: center;
            }
            .timer {
                display: flex;
                justify-content: center;
            }
            .timer p {
                font-size: smaller;
            }
            #validateError {
                font-size: smaller;
                text-align: center;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 style="color: #02458b; text-align: center"> Enter Otp</h2>
            <div class="otp-input-container" id="otpForm">
                <input class="otp-input" type="text" id="num1" maxlength="1" oninput="focusNext(event)" onkeydown="focusPrevious(event)" />
                <input class="otp-input" type="text" id="num2" maxlength="1" oninput="focusNext(event)" onkeydown="focusPrevious(event)" />
                <input class="otp-input" type="text" id="num3" maxlength="1" oninput="focusNext(event)" onkeydown="focusPrevious(event)" />
                <input class="otp-input" type="text" id="num4" maxlength="1" oninput="focusNext(event)" onkeydown="focusPrevious(event)" />
            </div>
            <input class="userId" type="text" name="id" value="<%=userId%>" hidden />
            <div class="verify-button">
                <button class="verify-button">Verify</button>
            </div>

            <div class="timer">
                <p id="timerDisplay" class="text-center"></p>
            </div>
            <div class="errors">
                <p id="validateError" style="color: red" class="text-danger"></p>
                <p id="otp-error" class="text-danger text-center"></p>
            </div>
        </div>

        <script src="/user/assets/js/forgetOtpvalidate.js"></script>
    </body>
</html>
