<%-include('../layouts/header.ejs')%>


<div class="" id="quickView">
    <div class="" style="margin-top: 150px;">
        <div class="">
            <div class="container mt-3 mx-auto ">
                <div class="row">
                    <div class="d-flex align-content-center  col-md-4">
                        <!-- Quick View Images Start -->
                        <div class="quick-view-images">
                            <!-- Quick Gallery Images Start -->
                            <div class="quick-gallery-images">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="user/assets/images/product-details/product-details-1.jpg" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="user/assets/images/product-details/product-details-2.jpg" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="user/assets/images/product-details/product-details-3.jpg" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="user/assets/images/product-details/product-details-4.jpg" alt="Product Image" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="user/assets/images/product-details/product-details-5.jpg" alt="Product Image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Quick Gallery Images End -->

                            <!-- Quick Gallery Thumbs Start -->
                            <div class="quick-gallery-thumbs">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="user/assets/images/product-details/product-details-1.jpg" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="user/assets/images/product-details/product-details-2.jpg" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="user/assets/images/product-details/product-details-3.jpg" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="user/assets/images/product-details/product-details-4.jpg" alt="Product Thumbnail" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="user/assets/images/product-details/product-details-5.jpg" alt="Product Thumbnail" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-prev">
                                    <i class="pe-7s-angle-left"></i>
                                </div>
                                <div class="swiper-button-next">
                                    <i class="pe-7s-angle-right"></i>
                                </div>
                            </div>
                            <!-- Quick Gallery Thumbs End -->
                        </div>
                        <!-- Quick View Images End -->
                    </div>
                    <div class="col-md-6">
                        <!-- Quick View Description Start -->
                        <div class="quick-view-description">
                            <h4 class="product-name">
                                Your Products Name Here.
                            </h4>
                            <div class="price">
                                <span class="sale-price">$240.00</span>
                                <span class="old-price">$290.00</span>
                            </div>
                            <div class="review-wrapper">
                                <div class="review-star">
                                    <div class="star" style="width: 80%"></div>
                                </div>
                                <p>( 1 Customer Review )</p>
                            </div>
                            <div class="product-color">
                                <span class="lable">Color:</span>
                                <ul>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color1" />
                                        <label for="quick-color1"><span class="color-blue"></span></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color2" />
                                        <label for="quick-color2"><span class="color-gray"></span></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color3" />
                                        <label for="quick-color3"><span
                                            class="color-dark-blue"
                                        ></span></label>
                                    </li>
                                    <li>
                                        <input type="radio" name="colors" id="quick-color4" />
                                        <label for="quick-color4"><span
                                            class="color-gray-dark"
                                        ></span></label>
                                    </li>
                                </ul>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet, consectet
                                adipisicing elit, sed do eiusmod temporf
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis tyu nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate.
                            </p>

                            <div class="product-meta">
                                <div class="product-quantity d-inline-flex">
                                    <button type="button" class="sub">-</button>
                                    <input type="text" value="1" />
                                    <button type="button" class="add">+</button>
                                </div>
                                <div class="meta-action">
                                    <button class="btn btn-dark btn-hover-primary">
                                        Add To Cart
                                    </button>
                                </div>
                                <div class="meta-action">
                                    <a class="action" href="#"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="meta-action">
                                    <a class="action" href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>

                            <div class="product-info">
                               
                                <div class="single-info">
                                    <span class="lable">Categories:</span>
                                    <span class="value"
                                    ><a href="#">Office,</a>
                                    <a href="#">Home</a></span>
                                </div>
                                <div class="single-info">
                                    <span class="lable">tag:</span>
                                    <span class="value"
                                    ><a href="#">Furniture</a></span>
                                </div>
                                <div class="single-info">
                                    <span class="lable">Share:</span>
                                    <ul class="social">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i
                                                class="fa fa-pinterest-p"
                                            ></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Quick View Description End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('../layouts/footer.ejs')%>
