<%-include('../layouts/header.ejs')%>

<div class="section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5">
                <!-- Login & Register Start -->
                <div class="login-register-wrapper">
                    <h4 class="title">Create New Account</h4>
                    <p>
                        Already have an account?
                        <a href="/login">Log in instead!</a>
                    </p>

                    <form  id="form" >
                        <div class="single-form">
                            <input type="text" id="firstName" placeholder="First Name" name="firstName" required />
                            <span style="color: red" id="firstNameError"></span>
                        </div>
                        <div class="single-form">
                            <input type="text" id="lastName" placeholder="Last Name" name="lastName" required />
                            <span style="color: red" id="lastNameError"></span>
                        </div>
                        <div class="single-form">
                            <input type="email" id="email" placeholder="Email Address *" name="email" required />
                            <span style="color: red" id="emailError"></span>
                        </div>
                        <div class="single-form">
                            <input type="text" id="mobile" placeholder="mobile" name="mobile" required />
                            <span style="color: red" id="mobileError"></span>
                        </div>
                        <div class="single-form">
                            <input type="password" id="password" placeholder="Password" name="password" required />
                            <span style="color: red" id="passwordError"></span>
                        </div>
                        <div class="single-form">
                            <input type="password" id="confirmPassword" placeholder="Confirm Password" required />
                            <span style="color: red" id="confirmPasswordError"></span>
                        </div>
                        <div class="single-form">
                            <input type="checkbox" id="receive" />
                            <label for="receive"> <span></span>agree the privacy and policy</label>
                        </div>
                        <div class="single-form">
                            <button type="button" class="btn btn-primary btn-hover-dark" id="registerButton">
                                Register
                            </button>
                            <h1 id="test" ></h1>
                        </div>
                    </form>
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->

<script>

    const submitButton=document.getElementById('registerButton');
    submitButton.addEventListener('click',(event)=>{
        event.preventDefault();
        
        if(validateForm()){
            register()
        }
    })

    function validateForm(){
        
        const firstName = document.getElementById("firstName").value;
        const lastName = document.getElementById("lastName").value;
        const email = document.getElementById("email").value;
        const mobile = document.getElementById("mobile").value;
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;

        
        let isValid = true;

        const firstNameError = document.getElementById("firstNameError");
        if (!firstName.trim() || firstName==="") {
            firstNameError.textContent = "First Name is required";
            return;
        } else {
            firstNameError.textContent = "";
        }

        const lastNameError = document.getElementById("lastNameError");
        if (!lastName.trim() ) {
            lastNameError.textContent = "Last Name is required";
            return;
        } else {
            lastNameError.textContent = "";
        }

        const emailError = document.getElementById("emailError");
        if (!email.trim()) {
            emailError.textContent = "Email Address is required";
            return;
        } else if (!isValidEmail(email)) {
            emailError.textContent = "Invalid Email Address";
            return;
        } else {
            emailError.textContent = "";
        }

        const mobileError = document.getElementById("mobileError");
        if (!mobile.trim()) {
            mobileError.textContent = "Mobile is required";
            return;
        } else {
            mobileError.textContent = "";
        }

        const passwordError = document.getElementById("passwordError");
        if (!password.trim()) {
            passwordError.textContent = "Password is required";
            return;
        } else if (password.length < 6) {
            passwordError.textContent = "Password must be at least 6 characters long";
            return;
        } else {
            passwordError.textContent = "";
        }

        const confirmPasswordError = document.getElementById("confirmPasswordError");
        if (!confirmPassword.trim()) {
            confirmPasswordError.textContent = "Confirm Password is required";
            return;
        } else if (confirmPassword !== password) {
            confirmPasswordError.textContent = "Passwords do not match";
            return;
        } else {
            confirmPasswordError.textContent = "";
        }

        return true;

        function isValidEmail(email) {
        return /\S+@\S+\.\S+/.test(email);
    }

    };
    function register() {

        const firstName = document.getElementById("firstName").value;
        const lastName = document.getElementById("lastName").value;
        const email = document.getElementById("email").value;
        const mobile = document.getElementById("mobile").value;
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;

    console.log('reached register func!!1');
     const heading=document.getElementById('test');

    fetch("/register", {
         method: "POST",
         body: JSON.stringify({
             firstName,
             lastName,
             email,
             mobile,
             password,
            confirmPassword,
         }),
         headers: {
             "content-type": "application/json;charset=utf-8",
         },
         credentials: "include",
     })
         .then((response) => response.json())
         .then((data) => {
             console.log(`data:${data}`);

             if (data) {
                 console.log(`data:${data} and data id:${data.id}`);
                window.location.href = `/verifyOtp?id=${data.id}`;
             }else{
                 heading.textContent=data.message;
             }
         })
         .catch((error) => {
             console.log(error);
         });
}
</script>


         <!-- if(firstName==='' || firstName.trim()===false){
        //    showError('firstName','first name should not be empty');
        //     console.log('error undd');
        //     isValid=false;
        // }else if (/^[]/.test(firstName)){
        //     console.log('error undd');
        //     showError('name', 'Invalid name entered');
        //         isValid = false;
        // }

        // return isValid;
    }

    function showError(fieldId, errorMessage) {
        const errorContainer = document.getElementById(`${fieldId}Error`);
        errorContainer.textContent = errorMessage;
    }

    function clearErrorMessages() {
        const errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(error => error.textContent = '');
    }
    
    // const form=document.getElementById('form');        // Prevent default form submission behavior
    //     form.addEventListener('keydown',(e)=>{
    //     if(e.key==='Enter'){
    //         console.log(e);
    //         e.preventDefault()
    //     }
    // })

    // const submit=document.getElementById('registerButton');
    // function validate(name){

    //     if(name.value.trim()==""){
    //         submit.style.opacity=0.6;
    //         submit.style.pointerEvents='none';
    //         name.nextElementSibling.textContent='input not empty';

    //     }else if(name){

    //     }
    //     else{
    //         submit.style.opacity=1;
    //         submit.style.pointerEvents='all';
    //         name.nextElementSibling.textContent=''

    //     }

    // }

    // const formdata=new FormData(document.getElementById('form')); -->

     
    
    <!-- // function register(){
    //     axios.post('http://localhost:3855/register',{
    //         firstname:firstnameValue,
    //         lastname:lastnameValue,
    //         email:emailValue,
    //         password:passwordValue,
    //         confirmpassword:confirmpasswordValue
    //     })
    //     .then(response =>{
    //         console.log('response:'+response);
    //     })
    //     .catch(error =>{
    //         console.log('error:'+error);
    //     })

    // }

    // document.addEventListener('DOMContentLoaded',()=>{

    // let firstName=document.getElementById('firstName');
    // let firstNameError=document.getElementById('firstNameError');

    // firstName.addEventListener('blur',()=>{
    //     let inputFirstName=firstName.value.trim();
    //     if(inputFirstName.length==0){
    //         firstNameError.textContent='*firstname is required'
    //     }else{
    //         firstNameError.textContent='';
    //     }
    // })

    // let lastname=document.getElementById('lastName');
    // let lastNameError=document.getElementById('lastNameError');

    // lastname.addEventListener('blur',()=>{
    //     let inputlastName=lastName.value.trim();
    //     if(inputlastName.length==0){
    //         inputlastName.textContent='*lastname is required'
    //     }else{
    //         lastNameError.textContent='';
    //     }
    // })

    // const registerButton=document.getElementById('registerButton');
    // registerButton.addEventListener('click',()=>{
    //     validateForm()
    // })

    // function validateForm(){
    //     console.log('etheeettund');
    //     const firstname=document.getElementById('firstName').value;
    //     const lastname=document.getElementById('lastName').value;
    //     const email=document.getElementById('email').value;
    //     const username=document.getElementById('userName').value;
    //     const password=document.getElementById('password').value;
    //     const confirmpassword=document.getElementById('confirmPassword').value;

    //     if(firstname.trim()==''){
    //         document.getElementById('firstNameError').innerHTML='firstname should not be empty'
    //         return false;
    //     }
    //     if(lastname===''){
    //         displayError(lastname,'firstname field should not be empty');
    //         document.getElementById('lastNameError').innerHTML='firstname should not be empty'
    //         return false;
    //     }

    // function displayError(fieldId,errorMessage){
    //     const errorContainer = document.getElementById(`${fieldId}Error`);
    //     errorContainer.textContent = errorMessage;
    // }
    // }

    // }); --> -->
</script>

<%-include('../layouts/footer.ejs')%>
