body {
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'fontspring-bold', sans-serif;
}

@font-face {
  font-family: 'fontspring-bold';
  src: url('../fonts/Fontspring-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
